{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加顾客界面</title>
    <style>.account {
        width: 500px;
        height: 470px;
        border: 2px solid #dddddd;
        border-radius: 5px;
        box-shadow: 5px 5px 20px #aaa;

        margin-left: auto;
        margin-right: auto;
        margin-top: 100px;
        padding: 20px 40px;
    }

    .account h2 {
        margin-top: 10px;
        text-align: center;
    }
    
    </style>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-3.4.1-dist/css/bootstrap.css'%}">
</head>
<body>
<div class="account">
    <h2>添加顾客</h2>
    <form method="post" action="/AddClientO/">
        {% csrf_token %}
        <div class="form-group">
            <label for="exampleInputPassword1">姓名</label>
            <input type="text" class="form-control" name="name" id="exampleInputPassword1" placeholder="请输入姓名">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">性别</label>
            <input type="text" class="form-control" name="sex" id="exampleInputPassword1" placeholder="请输入性别">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">身份证号码</label>
            <input type="text" value="{{id}}" class="form-control" name="id_card" id="exampleInputPassword1" readonly="true">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">手机号</label>
            <input type="text" class="form-control" name="phone" id="exampleInputPassword1" placeholder="请输入手机号">
        </div>
        
        <div style="margin-left:180px;display: inline-block">
            <button style="margin-top: 25px" type="submit" onclick="myfunc()" class="btn btn-primary">确认</button>
        </div>
        
    </form>
</div>
<script type="text/javascript"> function myfunc() {
    alert("注册成功！~")
} </script>
</body>
</html>
