{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新增订单界面</title>
    <style>.account {
        width: 500px;
        height: 470px;
        border: 2px solid #dddddd;
        border-radius: 5px;
        box-shadow: 5px 5px 20px #aaa;

        margin-left: auto;
        margin-right: auto;
        margin-top: 100px;
        padding: 20px 40px;
    }

    .account h2 {
        margin-top: 10px;
        text-align: center;
    }
    
    </style>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-3.4.1-dist/css/bootstrap.css'%}">
</head>
<body>
<div class="account">
    <h2>添加订单</h2>
    <form method="post" action="/AddOrder/">
        {% csrf_token %}
        <div class="form-group">
            <label for="exampleInputPassword1">订单状态</label>
            <input type="text" value="进行中" class="form-control" name="state" id="exampleInputPassword1" placeholder="进行中/已结束" readonly = "true">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">房号</label>
            <input type="text" class="form-control" name="room_id" id="exampleInputEmail1" placeholder="请输入房号">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">客户身份证号码</label>
            <input type="text" class="form-control" name="id" id="exampleInputPassword1" placeholder="请输入客户身份证号码">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">员工编号</label>
            <input type="text" class="form-control" name="staff_id" id="exampleInputPassword1" placeholder="请输入员工编号">
        </div>
        <input type="hidden" value="{{source}}" name="source">

        <div style="margin-left:180px;display: inline-block">
            <button style="margin-top: 25px" type="submit" onclick="myfunc()" class="btn btn-primary">确认</button>
        </div>
        
    </form>
    <div style="color: red;">{{ msg }}</div>
</div>

</body>
</html>
