{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>编辑客房界面</title>
    <style>.account {
        width: 500px;
        height: 400px;
        border: 2px solid #dddddd;
        border-radius: 5px;
        box-shadow: 5px 5px 20px #aaa;

        margin-left: auto;
        margin-right: auto;
        margin-top: 100px;
        padding: 20px 40px;
    }

    .account h2 {
        margin-top: 10px;
        text-align: center;
    }
    
    </style>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-3.4.1-dist/css/bootstrap.css'%}">
</head>
<body>
<div class="account">
    <h2>客房信息修改</h2>
    <form method="post" action="/editRoom/">
        {% csrf_token %}
        <div class="form-group">
            <label for="exampleInputPassword1">房号</label>
            <input type="text" value="{{room.room_number}}" class="form-control" name="room_number" id="exampleInputPassword1" readonly="true">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">房型</label>
            <input type="text" value="{{room.type}}" class="form-control" name="type" id="exampleInputPassword1">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">价格</label>
            <input type="text" value="{{room.price}}" class="form-control" name="price" id="exampleInputPassword1">
        </div>
        <div style="margin-left:180px;display: inline-block">
            <button style="margin-top: 25px" type="submit" onclick="myfunc()" class="btn btn-primary">确认</button>
        </div>
        
    </form>
</div>
<script type="text/javascript"> function myfunc() {
    alert("修改成功！~")
} </script>
</body>
</html>
